<div class="footer-container">
	<p class="footer-title">PhotoRutile</p>
	<p class="footer-description">Artisanat en bois — Pièces uniques faites main</p>
	<p class="footer-address">Lyon, Tassin-la-Demi-Lune 69160</p>
	<p class="footer-copyright">© 2026 Photos Rutile. Tous droits réservés {% if not is_granted('ROLE_ADMIN') %}| <a href="{{ path('app.login') }}">Espace Administration</a>{% endif %}</p>
	<a href="https://l0pezsantiago.github.io/mon-portfolio/" target="_blank" class="footer-made-by">Site réalisé par <strong>SL Web Corp</strong></a>
</div>
