{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block importmap %}
	{{ parent() }}
	{{ importmap('contact') }}
{% endblock %}

{% block main %}
	<section class="contact-section">
		<div class="container">
			<div class="contact-title">
				<h1>Contactez-nous</h1>
				<p>Une question, une commande spéciale ou simplement envie d'en savoir plus ? Écrivez-nous !</p>
			</div>
        <form action="https://api.staticforms.dev/submit"method="POST">
            <input type="hidden" name="apiKey" value="sf_dd55a221a7447066e6563c29">
            <input type="text" name="honeypot" style="display:none">
        <div class="form-input-label">
            <label for="name">Nom et prénom <span class="required">*</span></label>
            <input type="text" id="name" name="name" required placeholder="Votre nom et prénom">
        </div>
        <div class="form-input-label">
            <label for="email">Email <span class="required">*</span></label>
            <input type="email" id="email" name="email" required placeholder="votre@email.com">
        </div>
        <div class="form-input-label">
            <label for="message">Message <span class="required">*</span></label>
            <textarea id="message" name="message" placeholder="Décrivez votre demande..." required></textarea>
        </div>
        <input type="hidden" name="redirectTo" value="{{ path('app.home') }}">
        <button type="submit">{{ iconsCollection.send|raw }} Envoyer le message</button>
        </form>
        </div>
	</section>
{% endblock %}
