{% extends 'base.html.twig' %}

{% block title %}Modifier un thème{% endblock %}

{% block importmap %}
    {{ parent() }}
    {{ importmap('theme-form') }}
{% endblock %}

{% block main %}
    <section class="creation-form-page">
        <div class="creation-form-shell">
            <div class="creation-form-heading">
                <h1>Modifier un thème</h1>
            </div>

        
            {{ include('backOffice/theme/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a class="creation-form-back" href="{{ path('app.theme.index') }}">Retour aux thèmes</a>

        </div>
    </section>
{% endblock %}
