
.map, .email {
    background-color: #EEE0CF;
    svg {
        color: #BD690A;
    }
}

.phone {    
    background-color: #D7D5EE;
    svg {
        color: #2020D5 !important;
    }
}


.truck, .clock {
    background-color: #DFE7DA;
    svg {
        color: #559C4F;
    }
}

.btn-primary {
    display: inline-block;
    background-color: var(--accent-color);
    box-sizing: border-box;
    color: var(--light-color);
    padding: 0.7rem 0.2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    min-width: 220px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        opacity: 0.9;
    }
}

.container, .footer-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-container {
    text-align: center;
}

/* --- Search Container --- */
.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #cac4bb;
    border-radius: 8px;
    padding: 10px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 24px;
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
    }

    svg {
        color: #7E7167;
    }
}