-- Active: 1746749148204@@127.0.0.1@3306
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/icon512_rounded.png">
        <link rel="apple-touch-icon" href="/icon512_maskable.png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap(['app', 'navbar']) }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/manifest.json">

    </head>
    <body data-turbo="false">
        {% block body %}
        <header>
         {% block header %}
         {% include 'layouts/navbar.html.twig' %}
         {% endblock %}

         {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
         {% endfor %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% include 'layouts/footer.html.twig' %}
            {% endblock %}
        </footer>
        {% endblock %}
    </body>
</html>
